<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e3d9364f-5d27-41eb-a589-cd38b36e7829/resourceGroups/Playground/providers/Microsoft.Web/sites/githubsearchDemo</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://githubsearchdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>githubsearchdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>githubsearchDemo</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$githubsearchDemo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>